{% extends "blog/base.html" %}
{% block content %}
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'quiz-select'%}?id={{object.id}}&isQ=1">Add to quiz</a>
            {% if object.isRoot %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'bank-detail' object.parent %}">Go to parent module</a>
            {% else %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'module-detail' object.parent %}">Go to parent module</a>
            {% endif %}
          </div>
        {% endif %}
  <article class="media content-section">
    <img class="rounded-circle article-img" width="10%" height="10%" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ request.scheme }}://{{ request.get_host }}{% url 'profile' %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2 class="article-title">statement:{{ object.statement }}</h2>
      <p class="article-content">
        <b>answer:</b><br>{{ object.answer }}<br><br>
        marks: {{ object.marks }}<br>
        tags: {{ object.chapter_tag }}:{{ object.section_tag}} <br>
        dificulty: {{ object.difficulty }}<br>
      </p>

      </div>
  </article>
{% endblock content %}