{% extends "blog/base.html"%}
{% load crispy_forms_tags %}
{% block content%}
        <div class="content-section">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Upload Questions</legend>
                {{ form| crispy}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Post</button>
                </div>
            </form>
        </div>
{% endblock content %}
{% block content_java %}
<script >
    document.getElementById('id_parent').value = {{ parent }};
    document.getElementById('id_parent').type = "hidden"
    document.getElementById('id_isRoot').value = {{ isRoot }};
    document.getElementById('id_isRoot').type = "hidden";
    var tags = document.getElementsByTagName('label'), l = tags.length, i;
for( i=0; i<l; i++) {
if(tags[i].for=="id_parent" || tags[i].for=="id_isRoot"){
    tags[i].innerHTML = "";
    }
    }

   var dictionary_list = {{ mydict | safe }}
   var dictionary = dictionary_list[0]
   for(var key in dictionary){
        var key2 = "id_"+key
        var value = dictionary[key]
        document.getElementById(key2).value = value
   }
</script>
{% endblock content_java %}