{% extends "blog/base.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" width="10%" height="10%" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ request.scheme }}://{{ request.get_host }}{% url 'profile' %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2 class="article-title">statement:{{ object.statement }}</h2>
      <p class="article-content">
        <b>answer:</b><br>{{ object.answer }}<br><br>
        marks: {{ object.marks }}<br>
        tags: {{ object.tags }}<br>
        dificulty: {{ object.difficulty }}<br>
      </p>

      </div>
        {% if object.author == user %}
          <div>
              <a id="link" class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'remove' %}">Remove</a>
          </div>
        {% endif %}
  </article>
{% endblock content %}
{% block content_java %}
<script language="javascript" type="text/javascript" >
    var url = document.location.href,
        params = url.split('?')[1].split('&'),
        data = {}, tmp;
    for (var i = 0, l = params.length; i < l; i++) {
         tmp = params[i].split('=');
         data[tmp[0]] = tmp[1];
    }
    scrt_val = data.quiz
      document.getElementById("link").setAttribute("href","{% url 'remove' %}?id={{object.id}}&isQ=1&quiz="+scrt_val);
      if(scrt_val=="not"){
        var elem = document.getElementById("link")
        elem.parentNode.removeChild(elem)
      }
</script>
{% endblock content_java %}