{% extends "blog/base.html"%}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content%}
<form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
                    <button class="btn btn-outline-info">Submit</button>
                </div></form>
{% endblock %}
{% block content_java %}
<script >
    var url = document.location.href,
        params = url.split('?')[1].split('&'),
        data = {}, tmp;
    for (var i = 0, l = params.length; i < l; i++) {
         tmp = params[i].split('=');
         data[tmp[0]] = tmp[1];
    }
    console.log("hi")
    console.log(params)
    document.getElementById('id_parent').value = data.parent;
<!--    document.getElementById('id_parent').type = "hidden"-->
    document.getElementById('id_isRoot').value = data.isRoot;
<!--    document.getElementById('id_isRoot').type = "hidden";-->
    tags = document.getElementsByTagName('label'), l = tags.length, i;
for( i=0; i<l; i++) {
if(tags[i].for=="id_parent" || tags[i].for=="id_isRoot"){
    tags[i].innerHTML = "";
    }
    }
</script>
{% endblock content_java %}